<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taka.muzei.imgboard" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MuzeiBooruApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >

        <provider android:name=".BooruArtProvider"
             android:authorities="com.taka.muzei.imgboard"
             android:label="@string/source_name"
             android:exported="true"
             android:description="@string/source_description"
             android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER"
             >
             <intent-filter>
                 <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider" />
             </intent-filter>
             <!-- A settings activity is optional -->
             <meta-data android:name="settingsActivity"
                 android:value="com.taka.muzei.imgboard.SettingsActivity" />
        </provider>

        <activity
            android:name="com.taka.muzei.imgboard.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:exported="true">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>
